html {
    font-size: px;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}
.column {
    float: left;
    width: 45%;
    padding: auto;
    height: auto;
}
h1 {
    text-align: center;
    text-decoration: underline;
}

a {
    
}
a:hover {
    
}
a:visited {
    
}