html {
    font-size: px;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

.row {
    border: 1px solid black;
    margin: 1rem;
    padding: 2rem 2rem;
    text-align: center;
}
.column {
    display: inline-block;
    border: 1px solid red;
    width: 45%;
}
.lastDiv {
    float: right;
}

h1 {
    text-align: center;
    text-decoration: underline;
}
